html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
}

.container {
  background-image: url("../images/DP229797.jpg");
  /* align-content: center; */
  /* margin: auto; */
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: top;
  background-size: cover;
  /* padding-top: 40.82%; */
}

#userScoreWrapper{
  display:none;
}
#targetNum {
  width: 300px;
  height: 100px;
  background-color: red;
  display:none;
} 
.crystal {
  width: 16.66%;
  margin-top: 25%;
  padding-left: 3%;
  padding-right: 3%;
}
#title {
  font-family: 'Passion One', cursive;
  text-align: center;
  font-size: 50px;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer {
  height: 50px;
  color: white;
  background-color: black;
  /* position: fixed;
  bottom: 0px; */
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Playfair Display', serif;
}

#startButton {
  width: 150px;
  height: 50px;
  background-color: tan;
}